<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="background:#000;color:#fff;">
    <h1>Congrats on your purchase!</h1>
    <p>
      Thanks for buying <%= @product.title %>
    </p>
  </body>
</html>
